testusingsoap/src/wsdl/localhost_8083/assessmentservice.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://soap.grading.hccis.info/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.grading.hccis.info/">

<xs:element name="getAssessment" type="tns:getAssessment"></xs:element>

<xs:element name="getAssessmentResponse" type="tns:getAssessmentResponse"></xs:element>

<xs:element name="getAssessments" type="tns:getAssessments"></xs:element>

<xs:element name="getAssessmentsResponse" type="tns:getAssessmentsResponse"></xs:element>

<xs:element name="getCount" type="tns:getCount"></xs:element>

<xs:element name="getCountResponse" type="tns:getCountResponse"></xs:element>

<xs:element name="gradingTrack" type="tns:gradingTrack"></xs:element>

<xs:complexType name="getAssessments">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAssessmentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:gradingTrack" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gradingTrack">
<xs:sequence>
<xs:element name="academicYear" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="courseName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="courseRoom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="instructorName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="letterGrade" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numericGrade" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="studentName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAssessment">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAssessmentResponse">
<xs:sequence>
<xs:element name="return" type="tns:gradingTrack" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCount">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>